<!DOCTYPE HTML>
 
{% extends "base.html" %}
 
<html>
    {% block content %} 
 
    <div id="fh5co-started" class="fh5co-bg-dark">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2 id="h2-section">Wow, you wanna join?</h2>
                    <br></br>
                    <br></br>
                </div>
                <div id="fh5co-consult" class="fh5co-bg-dark-2">
                <div class="video fh5co-video" style="background-image: url(/static/activity2.jpg);">
                    <div class="overlay"></div>
                </div>
 
                <div class="choose animate-box">
                    <h2>Add your name here!</h2>
                    <form action="#" method="post">
                    {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.guest_name }}
                            </div>
                        </div>
 
                        <div class="form-group">
                            <input type="submit" value="Join Activity" class="btn btn-primary">
                        </div>
                    </form> 
                </div>
 
            </div>
        </div>
    </div>
 
 
    {% endblock %}
</html>
