<!DOCTYPE HTML>
 
{% extends "base.html" %}
 
<html>
    {% block content %} 
 
 
    {% if listActivity.count == 0 %}
    <div id="fh5co-work" class="fh5co-bg-dark">
        <div id="fh5co-blog">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 id="h2-section2">No activity added</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
    <div id="fh5co-work" class="fh5co-bg-dark">
        <div id="fh5co-blog">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2 id="h2-section2">Activity List</h2>
                </div>
                <div class="row">
                    {% for act in activity %}
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <div class="blog-text">
                                <a href = "{% url 'story6:deleteActivity' delete_id=act.pk %}">
                                <div class="timeline-badge"><i class="fa fa-trash-o"></i></div>
                                </a>
                                <h1 id="h2-section2"><a> {{act.activity_name}} </a></h1>
                                <a> Participants: </a>
                                {% for a in guest %}
                                {% if a.activity == act %}
                                <div>
                                    <h3 id="h3-up"><a> > {{a.guest_name}}</a>
                                    <a style="text-decoration: underline;" href = "{% url 'story6:delete' delete_id=a.pk %}">
                                        (remove)
                                    </a>
                                    <h3>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <a href = "{% url 'story6:join' task_id=act.pk  %}">
                                    <input type="submit" value="Join Activity" class="btn btn-success">
                                </a>
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                    <br></br>
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <a href = "{% url 'story6:addActivity' %}">
                        <input type="submit" value="ADD MORE ACTIVITY" class="btn btn-success">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    {% endif %}
 
    {% endblock %}
</html>
