<!DOCTYPE HTML>

{% extends "base.html" %}

<html>
	{% block content %}	

	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 id="h2-section">Add your subject here!</h2>
					<br></br>
					<br></br>
				</div>
				<div id="fh5co-consult" class="fh5co-bg-dark-2">
				<div class="video fh5co-video" style="background-image: url(/static/schedule.jpg);">
					<div class="overlay"></div>
				</div>
					
				<div class="choose animate-box">
					<h2>Subject Form</h2>
					<form action="#" method="post">
					{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-12">
								{{ form.subject_name }}
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								{{ form.credits_amount }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								{{ form.room }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								{{ form.lecturer }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								{{ form.year }}
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								{{ form.description }}
							</div>
						</div>
						
						<div class="form-group">
							<input type="submit" value="Add Subject" class="btn btn-primary">
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>


	{% endblock %}
</html>

