<!DOCTYPE HTML>

{% extends "base.html" %}

<html>
	{% block content %}	

	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h1 id="h2-section">My Space</h1>
					</div>
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h3 id="space-font">Main Interests</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="fa fa-music"></i>
							</span>
							<div class="feature-copy">
								<h3>Music</h3>
								<p>I love music like i love my self. My favorite music genres are Jazz and Pop!</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="fa fa-microphone"></i>
							</span>
							<div class="feature-copy">
								<h3>Singing</h3>
								<p>I really love to sing since i was a kid. It is one of my hobbies!</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="fa fa-heart"></i>
							</span>
							<div class="feature-copy">
								<h3>Volunteer Work</h3>
								<p>I like to join a volunteer work like committees</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="fa fa-commenting-o"></i>
							</span>
							<div class="feature-copy">
								<h3>Networking Events</h3>
								<p>Socialize with people through networking events, why not?</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="fa fa-desktop"></i>
							</span>
							<div class="feature-copy">
								<h3>UI / UX</h3>
								<p>I became slowly interested for UI/UX things</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="fa fa-laptop"></i>
							</span>
							<div class="feature-copy">
								<h3>Computing</h3>
								<p>Since i am a CS student, i have to love this!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h3 id="space-font">Project</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(/static/nobarkor.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(/static/nobarkor2.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(/static/nobarkor3.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(/static/nobarkor4.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h3 id="space-font">My Favorite Series</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://en.wikipedia.org/wiki/Guardian:_The_Lonely_and_Great_God" class="work" style="background-image: url(/static/goblin.jpg);">
						<div class="desc">
							<h3>Goblin</h3>
							<span>K-drama</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://en.wikipedia.org/wiki/Stranger_Things" class="work" style="background-image: url(/static/stranger.jpg);">
						<div class="desc">
							<h3>Stranger Things</h3>
							<span>Netflix</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://en.wikipedia.org/wiki/The_Gifted_(Thai_TV_series)" class="work" style="background-image: url(/static/thegifted.jpg);">
						<div class="desc">
							<h3>The Gifted</h3>
							<span>Thai Series</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://en.wikipedia.org/wiki/Ao_Haru_Ride" class="work" style="background-image: url(/static/aoharu.jpg);">
						<div class="desc">
							<h3>Ao Haru Ride</h3>
							<span>Anime</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h3 id="space-font">My Idols</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://www.youtube.com/user/GMMTVSPOTLIKE" class="work" style="background-image: url(/static/gmmtv.jpg);">
						<div class="desc">
							<h3>GMMTV Boys</h3>
							<span>Thai Actors</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://www.youtube.com/channel/UC9rMiEjNaCSsebs31MRDCRA" class="work" style="background-image: url(/static/skz.jpg);">
						<div class="desc">
							<h3>Stray Kids</h3>
							<span>K-pop Boyband</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://en.wikipedia.org/wiki/TharnType:_The_Series" class="work" style="background-image: url(/static/mewgulf.jpg);">
						<div class="desc">
							<h3>MewGulf</h3>
							<span>Thai Actors</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://en.wikipedia.org/wiki/Cha_Eun-woo" class="work" style="background-image: url(/static/cha.jpg);">
						<div class="desc">
							<h3>Cha Eun-woo</h3>
							<span>Korean Actor</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h3 id="space-font">My Favorite Songs</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<iframe src="https://open.spotify.com/embed/track/71WZ7yFuwxmQz5jJUpvkGv" width="250" height="300" frameborder="100" allowtransparency="true" allow="encrypted-media"></iframe>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<iframe src="https://open.spotify.com/embed/track/7rgjkzZBhBjObaYsvq8Ej0" width="250" height="300" frameborder="100" allowtransparency="true" allow="encrypted-media"></iframe>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					 <iframe src="https://open.spotify.com/embed/track/6z1kLsntE7FuzKZHZWrXYN" width="250" height="300" frameborder="100" allowtransparency="true" allow="encrypted-media"></iframe>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work">
						<iframe src="https://open.spotify.com/embed/track/7I0vl97TYZW86qYdgcD1qu" width="250" height="300" frameborder="100" allowtransparency="true" allow="encrypted-media"></iframe>
					</a>
				</div>
			</div>
		</div>
	</div>


	{% endblock %}
</html>

