<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
	<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">

	{% load static %} 
	<link rel="stylesheet" href="{% static 'js/app.js' %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">AS</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                <a href="{% url 'HOMEPAGE:index' %}">Home</a>
                </li>
				<li>
                <a href="{% url 'myspace:space' %}">My Space</a>
                </li>
                <li>
                <a href="{% url 'HOMEPAGE:gallery' %}">Gallery</a>
                </li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Subject<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'myspace:addSubject' %}">Add Subject</a></li>
					<li><a href="{% url 'myspace:listSubject' %}">List Subject</a></li>
				</ul>
				</li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Activity<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'story6:addActivity' %}">Add Activity</a></li>
					<li><a href="{% url 'story6:listActivity' %}">List Activity</a></li>
				</ul>
				</li>
            </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
		<br></br>
	</div>

	<div id="fh5co-started" class="fh5co-bg-dark-2">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 id="space-font">Contact Me!</h2>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/flowerkels"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://instagram.com/ayukasnht"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/ayuka-sonohata-66a47a19b/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
			<br></br>
			<h5>© copyright 2020 Ayuka Sonohata.</h5>
		</div>
	</div>
	
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
	</div>
	
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{% static 'js/google_map.js' %}"></script>
	
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>