<!DOCTYPE HTML>

{% extends "base.html" %}

<html>
    {% block content %}
	<div id="fh5co-work" class="fh5co-bg-dark">
        <div id="fh5co-blog">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 id="h2-section">Commitees</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/OH.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">November 2019</span>
                                <h3><a href="#">Open House Fasilkom UI 2019</a></h3>
                                <p>Acara untuk memberikan informasi tentang fasilkom UI ke anak SMA.</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/sospro.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">October 2019</span>
                                <h3><a href="#">Social Project </a></h3>
                                <p>Acara sosial yang diadakan oleh Angkatan 2019 Fasilkom UI di Sekolah Master, Depok.</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/syntax.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">September 2019</span>
                                <h3><a href="#">SYNTAX CSUI</a></h3>
                                <p>Acara gathering angkatan 2019 Fasilkom UI.</p>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/perak.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">February 2020</span>
                                <h3><a href="#">PERAK</a></h3>
                                <p>Acara Internal Fasilkom yang di dalamnya terdapat banyak rangkaian acara seperti lomba olahraga, seni, sampai Main Event.</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/wisgan.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">January 2020</span>
                                <h3><a href="#">Wisuda Ganjil</a></h3>
                                <p>Acara Pelepasan Mahasiswa/i Fakultas Ilmu Komputer UI 2016.</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/compfest.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">Maret 2020</span>
                                <h3><a href="#">COMPFEST 12</a></h3>
                                <p>Acara IT tahunan terbesar di Indonesia yang diselenggarakan oleh mahasiswa.</p>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 id="h2-section">Organizations</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/osis.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">October 2018</span>
                                <h3><a href="#">OSIS SMA</a></h3>
                                <p>Organisasi Siswa Intra Sekolah.</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/lvc.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">May 2017</span>
                                <h3><a href="#">Lima Voice Club</a></h3>
                                <p>Ekstrakulikuler SMA yang bergerak dalam bidang vocal.</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/senbud.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">February 2020</span>
                                <h3><a href="#">BEM Fasilkom UI</a></h3>
                                <p>Departemen Seni dan Budaya.</p>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 id="h2-section">Hobbies</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="https://www.instagram.com/fiventidue/" class="blog-bg" style="background-image: url(/static/fv2.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">July 2018</span>
                                <h3><a href="https://www.instagram.com/fiventidue/">BUITENJOG Smansa Day</a></h3>
                                <p>Five Ventidue Band</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="https://www.instagram.com/fiventidue/" class="blog-bg" style="background-image: url(/static/fv.JPG);"></a>
                            <div class="blog-text">
                                <span class="posted_on">November 2018</span>
                                <h3><a href="https://www.instagram.com/fiventidue/">Recis Odyssey</a></h3>
                                <p>Five Ventidue Band</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="https://www.instagram.com/fiventidue/" class="blog-bg" style="background-image: url(/static/warna.JPG);"></a>
                            <div class="blog-text">
                                <span class="posted_on">March 2020</span>
                                <h3><a href="https://www.instagram.com/fiventidue/">Bir Bintang PERAK</a></h3>
                                <p>Warna-Warna Band</p>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 id="h2-section">Achievement</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/vg1.jpg);"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/vg.jpg);"></a>
                            <div class="blog-text">
                                <span class="posted_on">November 2019</span>
                                <h3><a href="#">Vocal Group UI Art War 2019</a></h3>
                                <p>Juara III</p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="blog-bg" style="background-image: url(/static/vg2.jpg);"></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
	</div>

    {% endblock %}
</html>

